.bookingShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookingConfirm {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 40px;
}

.bookingPhoto {
  height: 300px;
  width: 600px;
}

.descriptionItemsBooking{
  // margin-left: 400px;
  margin-top: 5px;
  width: 600px;
}

.bookingRating {
  border-bottom: none !important;
}

.bookingPrice {
  position: relative;
  left: 500px;
  bottom: 90px;
}

.bookingPrice span {
  font-weight: bold;
  font-size: 18px;
}

.bookingShowDates {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}