// Place all the styles related to the API::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessionFormDiv {
  position: fixed;
  left: -280px;
  top: -260px;
  background: white;
  display: block;
  height: auto;
  width: 570px;
  margin-bottom: 70px;
}


.sessionForm {
  padding-top: 20px;
  padding-bottom: 40px;
}

.sessionForm .formFields input {
  border: 1px solid rgb(235,235,235);
  font-size: 15px;
  display: block;
  width: 90%;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 45px;
  border-radius: 5px;
}

.birthdateDiv {
  position: flex;
  width: 90%;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-bottom: 22px;
}

.birthdateDiv > select {
  border: 1px solid rgb(235,235,235);
  font-size: 16px;
  color: rgb(72,72,72);
  font-weight: lighter;
  background: rgb(255,255,255);
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}
.month, .day{
  height: 45px;
  margin-right: 18px;
}

.month {
  width: 200px;
}

.day {
  width: 115px;
}

.year {
  width: 160px;
  height: 45px;
  margin-right: 0px;
}

.signupFormButton {
  width: 90%;
  height: 45px;
  margin-left: 28.5px;
  margin-right: 28.5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgb(235,235,235);
  background: rgb(252, 82, 96);
  color: white;
}

.loginFormButton {
  width: 100%;
  height: 45px;
  margin-right: 28.5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid rgb(235,235,235);
  background: rgb(252, 82, 96);
  color: white;
}

.sessionForm > p {
  font-size: 14px;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-top: 10px;
  margin-bottom: 15px;

}

.closeForm {
  font-size: 42px;
  color: gray;
  font-weight: lighter;
  position: relative;
  left: 30px;
  top: 20px;
}
.birthday {
  font-weight: 500;
  margin-left: 28.5px;
}

.check {
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin-left: 28.5px;
  margin-right: 28.5px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(235,235,235);
}

.link {
  color: rgb(20, 133, 127);
  font-weight: 500;
  margin-left: 5px;
}


.otherForm {
  font-size: 16px;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.check input {
	-webkit-appearance: none;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 0px 0px 0px rgba(0,0,0,0.05);
	padding: 8px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.check input:checked {
  background: rgb(20, 133, 127);
  border: 1px solid rgb(20, 133, 127);
}

.check input:checked:after {
  content: '\2713';
	font-size: 18px;
	position: absolute;
	top: -2px;
	left: 0px;
  color: white;
}

.showPassword {
  font-size: 14px;
  margin-left: 290px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(20, 133, 127);
}

.showPassword:hover {
  text-decoration: underline;
}

.forgotPassword {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  color: rgb(20, 133, 127);
}


.forgotPassword:hover {
  text-decoration: underline;
}

.monthArrow {
  position: fixed;
  top: 135px;
  right: 70px;
  font-size: 50px;
  font-weight: 100;
  pointer-events: none;
}

.dayArrow {
  position: fixed;
  top: 135px;
  left: 55px;
  font-size: 50px;
  font-weight: 100;
  pointer-events: none;
}

.yearArrow {
  position: fixed;
  top: 135px;
  left: 230px;
  font-size: 50px;
  font-weight: 100;
  pointer-events: none;
}