// Place all the styles related to the API::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sessionFormDiv {
  position: fixed;
  left: -280px;
  top: -260px;
  background: white;
  display: block;
  height: auto;
  width: 570px;
  margin-bottom: 70px;
}


.sessionForm {
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
}

.sessionForm .formFields input {
  font-size: 15px;
  position: relative;
  width: 90%;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-top: 15px;
  margin-bottom: 5px;
  height: 45px;
  border-radius: 5px;
  text-indent: 10px;
}

.sessionForm .formFields input:focus {
  border: 1px solid rgb(20, 133, 127);
}

.birthdateDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-bottom: 22px;
}

.birthdateDiv > select {
  font-size: 16px;
  color: rgb(72,72,72);
  font-weight: lighter;
  background: rgb(255,255,255);
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
  text-indent: 10px;
}



.birthdateDiv > select:focus {
  outline-color: rgb(0, 133, 137);
  outline-style: solid;
  outline-width: 1px;
}

.month, .day{
  height: 45px;
  margin-right: 0px;
}

.month {
  min-width: 200px;
}

.day {
  min-width: 115px;
}

.year {
  min-width: 160px;
  height: 45px;
  margin-right: 0px;
}

.signupFormButton {
  width: 90%;
  height: 45px;
  margin-left: 28.5px;
  margin-right: 28.5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgb(235,235,235);
  background: rgb(252, 82, 96);
  color: white;
  margin-bottom: 5px;
}

.loginFormButton {
  width: 100%;
  height: 45px;
  margin-right: 28.5px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgb(235,235,235);
  background: rgb(252, 82, 96);
  color: white;
}

.loginFormButton:active {

}

.sessionForm > p {
  font-size: 14px;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-top: 10px;
  margin-bottom: 15px;

}

.closeForm {
  width: 50px;
  margin-top: 10px;
  margin-left: 20px;
}

.closeForm button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  margin-bottom: 5px;
}

.closeForm button:active {
  border-radius: 100%;
  border:1px solid lightgray;
  background: white;             
}

.birthday {
  font-weight: 500;
  margin-left: 28.5px;
}

.check {
  cursor: pointer;
  font-size: 14px;
  display: block;
  margin-left: 28.5px;
  margin-right: 28.5px;
  padding-bottom: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(235,235,235);
}

.link {
  color: rgb(20, 133, 127);
  font-weight: 500;
  margin-left: 5px;
}


.otherForm {
  font-size: 16px;
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.check input {
	-webkit-appearance: none;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 0px 0px 0px rgba(0,0,0,0.05);
	padding: 8px;
	border-radius: 3px;
	display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.check input:checked {
  background: rgb(20, 133, 127);
  border: 1px solid rgb(20, 133, 127);
}

.check input:checked:after {
  content: '\2713';
	font-size: 18px;
	position: absolute;
	top: -2px;
	left: 0px;
  color: white;
}

.showPassword {
  font-size: 14px;
  margin-left: 290px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(20, 133, 127);
}

.showPassword:hover {
  text-decoration: underline;
}

.forgotPassword {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  text-align: center;
  width: 100%;
  color: rgb(20, 133, 127);
}


.forgotPassword:hover {
  text-decoration: underline;
}

.monthArrow {
  position: relative;
  top: 0px;
  right: 30px;
  font-size: 30px;
  font-weight: 100;
  pointer-events: none;
}

.dayArrow {
  position: relative;
  top: 0px;
  left: -30px;
  font-size: 30px;
  font-weight: 100;
  pointer-events: none;
}

.yearArrow {
  position: relative;
  top: 0px;
  left: -30px;
  font-size: 30px;
  font-weight: 100;
  pointer-events: none;
}

.emailIcon {
  position: relative;
  top: -40px;
  left: 512px;
  font-size: 20px;
  font-weight: 100;
  cursor: default;
}

.personIconFirstName {
  position: relative;
  top: -40px;
  left: 512px;
  font-size: 20px;
  font-weight: 100;
  cursor: default;
  color: white;
}

.personIconLastName {
  position: relative;
  top: -40px;
  left: 512px;
  font-size: 20px;
  font-weight: 100;
  cursor: default;
}

.eyeIcon {
  position: relative;
  top: -40px;
  left: 512px;
  font-size: 15px;
  font-weight: 100;
  cursor: default;
}

.lockIcon {
  position: relative;
  top: -40px;
  left: 512px;
  font-size: 15px;
  font-weight: 100;
  cursor: default;
}


.errors {
  margin-left: 28.5px;
  margin-right: 28.5px;
  margin-top: -20px;
  margin-bottom: 5px;
  font-size: 14px;
  align-items: center;
}

.errors li {
  color:rgb(214,48,4);
  font-weight: 500;
}

.birthdayErrors {
  margin-left: 28.5px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.birthdayErrors li {
  color:rgb(214,48,4);
  font-weight: 500;
}

.RedErrorClass input{
  border: 1px solid red;
}

.NoErrorState input {
 border: 1px solid rgb(235,235,235);
}

.NoErrorSelectState > select {
   border: 1px solid rgb(235,235,235);
}

.RedErrorSelectClass select{
  border: 1px solid red;
}

.formFields {
  margin-bottom: 15px;
}

#checkText {
  margin: 28.5px;
}