.spotIndexItem img {
  width: 300px;
  height: 200px;
}

.spotIndexUl > span{
  font-size: 25px;
  color: rgb(40,40,40);
  font-weight: 500;
  margin-left: 25px;
}

.spotIndexItem {
  margin-left: 25px;
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid rgb(235,235,235);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}

.spotIndex {
  border-top: 1px solid rgb(235,235,235);
  display: flex;
  width: auto;
}

.spotIndexUl {
  width: 800px;
  margin-top: 140px;
}

.indexSuperhost {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 5px;
  font-size: 12px;
  padding: 2px;
}


.indexTitle {
  width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  color: black;
  font-size: 18px;
  margin-top: 10px;
}


.descriptionItems {
  margin-left: 25px;
}

.indexRating {
  position: relative;
  bottom: 82px;
  left: 420px;
}

.skull {
  font-size: 12px;
  padding-right: 5px;
}

.spotInfo {
  font-size: 14px;
  margin-top: 15px;
}

.indexPrice span {
  font-weight: bold;
  color: black;
}

.indexPrice {
  position: relative;
  top: 50px;
  color: black;
  left: 380px;
}

#map-container {
  height: 90%;
  width: 95%;
}

.mapIndexComponent {
  position: fixed;
  height: 100%;
  width: -webkit-calc(100% - 800px);
  width: -moz-calc(100% - 800px);
  width: calc(100% - 800px);
  margin-top: 130px;
  margin-left: 860px;
}

.placesToStay {
  display: block;
  margin-top: 50px;
}


.amenitiesIndex {
  margin-top: 0px !important;
  font-size: 12px;
  width: 350px;
}
