// Place all the styles related to the Api::Spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.spotIndexItemHomepage img{
  height: 175px;
  width: 262px;
  border-radius: 5px;
}

.dummy {
  visibility: hidden;
  // height: 175px;
  width: 262px;
  margin-left: 7px;
  margin-right: 7px;
}

.spotIndexItemHomepage {
  height: 270px;
  width: 262px;
  margin-left: 7px;
  margin-right: 7px;
  color: black;
  margin-bottom: 20px;
  cursor: pointer;
}

.spotIndexHomepage {
  display: inline-flex;
  justify-content: center;
  margin-top: 260px;
  width: 100%;
}

.spotIndexHomepage ul{
  display: inline-flex;
  margin-left: 70px;
  margin-right: 70px;
  flex-wrap: wrap;
  justify-content: center;
}

.whereToStay {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  display: block;
  width: 100%;
  margin-left: 7px;
  text-align: center;
}

.price span {
  font-weight: bold;
}


.title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  color: black;
}

.city {
  font-size: 13px;
  color: rgb(122,122,122);
  margin-top: 12px;
  margin-bottom: 12px;
}

.superhost {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}


.rating {
  position: relative;
  top: -72px;
  left: 210px;
}

.skull {
  font-size: 12px;
  padding-right: 5px;
}