


.imageDiv {
  display: flex;
  width: 100%;
  min-width: 500px;
  height: 66%;
  max-height: 580px;
  padding-top: 91px;
}

.imageDiv:hover img{
 filter: brightness(60%);
}

.otherImages {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 100%;
  max-height: 580px;
  overflow: hidden;
}

.otherImages div{
  border: 1px solid rgb(72,72,72);
  height: 50%;
  width: 50%;
  min-width: 220px;
  box-sizing: border-box;
  overflow: hidden;
}

.otherImages div img{
  height: 288px;
  width: 100%;
  min-width: 250px;
  transition: transform .5s ease;
  cursor: pointer;
}

.otherImages div img:hover {
  transform: scale(1.07);
  filter: brightness(100%) !important;
}

.mainImage {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border: 1px solid rgb(72,72,72);
  box-sizing: border-box;
}

.image1 {
  width: 100%;
  min-width: 885px;
  height: 578px;
  transition: all .5s ease;
  cursor: pointer;
}

.bookingFormFooter {
  display: none;
}

@media only screen and (max-width: 1200px) 
  {
    .bookingForm {
    display: none;
  }

  .otherImages div img{ 
      width: 600px;
  }

  .otherImages div {
    width: 600px;
  }

  .mainImage img {
    width: 600px;
    min-width: 500px !important;
  }

  .bookingFormFooter {
    display: flex;
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 1px;
    margin-bottom: auto;
    z-index: 5;
    background: white;
    justify-content: center;
    border-top: 1px solid rgb(235,235,235);
  }
}

@media only screen and (max-height: 650px) {
  .otherImages div img{ 
      height: 250px;
  }

  .otherImages div {
    height: 250px;
  }

  .otherImages {
    height: 500px;
  }

  .mainImage img {
    height: 500px;
    min-width: 250px !important;
  }

  .mainImage {
    height: 500px;
  }
}

  .bookingFormFooterPrice {
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
  }

  .bookingFormFooterPriceFull {
    width: 100%;
    height: 10px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-left: 50px;
    margin-top: 15px;
  }

  .bookingFooterDanger {
    border-bottom: none !important;
    height: 10px;
    position: relative;
    top: 40px;
    margin-left: -220px;
   }

  .BookingFooterFormButton {
  width: 200px;
  padding-left: 50px;
  padding-right: 50px;
  height: 45px;
  margin-right: 15%;
  margin-top: 17px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  border: 1px solid rgb(235,235,235);
  background: rgb(252, 82, 96);
  color: white;
  margin-bottom: 5px;
  cursor: pointer;
}

.BookingFooterFormButton:active {
  transition: .3s;
  box-shadow: 0 0 1px 1px rgb(113,113,113);
  border: 5px solid white;
  border-radius: 10px;
  background:rgb(221, 62, 75);
  margin-left: 23.5px;
  // margin-right: -5px;
}

.image1:hover {
  transform: scale(1.07);
  filter: brightness(100%) !important;
}

.spotShow {
  width: 100%;
  display: flex;
}

.spotShowDetails {
  display: flex;
  width: 600px;
  margin-left: auto;
  margin-right: 485px;
  align-items: center;
  flex-direction: column;
  height: 2000px;
  padding-top: 20px;
  box-sizing: border-box;
}

.spotTitle {
  font-size: 32px;
  font-weight: 600;
  color: rgb(72,72,72);
  width: 500px;
  margin-left: -60px;
  line-height: 100%;

}

.hostImage {
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
  position: relative;
  left: 290px;
  bottom: 62px;
}

.hostName {
  position: relative;
  bottom: 55px;
  left: 290px;

}

.bookingForm {
  position: -webkit-sticky;
  position: sticky; 
  width: 360px;
  height: 360px;
  border: 1px solid rgb(226,226,226);
  right: 15%;
  top: 100px;
  margin-top: 20px;
  padding-right: 20px;
}


.bookingFormDiv {
  border-radius: 5px;
  background-color: white;
  width: 360px;
  height: 360px;
}


.bookingSubmit {
  position: relative;
  left: -280px;
  width: 300px !important;
}

.bookingArrow {
  font-size: 16px;
  color: rgb(72,72,72);
  font-weight: 100;
  position: relative;
  right: -275px;
  top: -30px;
  pointer-events: none;
}

.bookingformPrice {
  font-weight: bold;
  color: rgb(72,72,72);
  font-size: 20px;
}

.perNight {
  font-size: 12px;
  font-weight: 400;
  color: black;
  margin-left: 4px;
}

.bookingDateRange {
  width: 300px;
}

.bookingDateRange input{
  border: 1px solid rgb(235,235,235);
  margin-bottom: 10px;
  font-size: 16px;
}

#datepicker_start_search_form{
  border-right: none;
}

.bookingRating {
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(235,235,235);
  width: 100%;
}

.descriptionItemsShow{
  // position: relative;
  // left: -130px;
  // bottom: 100px;
  text-align: left;
  margin-left: -260px;
  margin-top: -60px;
}

.descriptionItems > div {
  margin-bottom: 15px;
}

.bulletPoints {
  border-bottom: 1px solid rgb(235,235,235);
  border-top: 1px solid rgb(235,235,235);
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

.bulletPoints > p > span {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 5px;
}

.spotDescription {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(235,235,235);
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  box-sizing: border-box;
}

.spotAmenities {
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(235,235,235);
  padding-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}

.availability{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  padding-left: 20px;
}

.badSpot {
  position: relative;
  top: 200px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.logoName {
  height: 500px;
  width: 700px;
  // position: relative;
  text-align: center;
}


.spotdetailsInfo {
    margin-top: 15px;
}

.descriptText {
  font-weight: bold;
}


.showFirstIcon {
  font-size: 30px;
  margin-right: 10px;
}

.showSecondIcon {
  font-size: 30px;
  margin-right: 10px;
}

.showThirdIcon {
  font-size: 30px;
  margin-right: 10px;
}

.showFourthIcon {
  font-size: 30px;
  margin-right: 10px;
}

.amenitiesText {
  font-weight: bold;
  font-size: 16px;
  margin-top: -10px;
  margin-right: auto;
  padding-left: 25px;
}

.hostDetails {
   border-top: 1px solid rgb(235,235,235);
   border-bottom: 1px solid rgb(235,235,235);
   margin-top: 30px;
   padding-bottom: 100px;
}

.hostedBy {
  font-weight: bold;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 30px;
}

.hostLocation {
  margin-top: 10px;
  margin-left: 20px;
}

.hostDescription {
  margin-left: 20px;
  margin-top: 15px;
}

.hostDetailsImage {
  position: relative;
  margin-left: 200px;
  margin-top: -90px;
  border-bottom: none !important;
}