.greeting-modal {
  display: flex;
  width: 100%;
  align-items: center;
  background: transparent;
}

.greeting-modal button {
  display: inline-block;
  margin: 10px;
  margin-top: 18px;
  color: darkblue;
  font-weight: 500;
  font-size: 14px;
  margin-right: 13px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}

.greeting-modal > button:hover {
  border-bottom: 2px solid darkblue;
  padding-bottom: 30px;
  margin-bottom: -22px;
}

.greeting-modal button:last-child {
  // margin-right: 10px;
}

.welcome {
  display: flex;
  margin: 15px; 
  margin-left: 15px;
  color: white;
  text-align: left;
  margin-right: auto;
}


.loggedIn {
  display: flex;
  width: 100%;
  align-items: center;
  background: transparent;
}


#logoImage {
  height: 50px;
  width: 50px;
  margin-top: 10px;
};

.navbarDiv {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.navbarDiv img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.navbarDiv ul{
  display: flex;
  position: relative;
  left: -260px;
  height: auto;
  width: 285px;
  margin-top: 20px;
  flex-direction: column;
  background: white;
  border: 1px solid rgb(207, 207, 207);
}

.navbarDiv ul li {
  height: 35px;
  color: rgb(118,118,118);
  font-size: 14px;
  font-weight: 500;
  // margin-top: 3px;
  padding-top: 14px;
  background: white;
  cursor: pointer;
  text-indent: 10px;
}

.navbarDiv ul li:hover {
  #borderbot{
    border-bottom: 1px solid rgb(168, 168, 168);
  }
}

.navbarDiv ul li:active {
  background: rgb(168, 168, 168);
}

#borderbot{
  margin-top: 15px;
  margin-left: 10px;
  width: 90%;
  border-bottom: 1px solid rgb(242,242,242);
}

.loggedinPortfolio {
  color: darkblue;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 17px;
  left: -40px;
}

.loggedinPortfolio:hover {
  border-bottom: 2px solid darkblue;
  padding-bottom: 30px;
  margin-bottom: -22px;
}


.loggedinPortfolioLi {
  left: -265px !important;
  top: 25px !important;
}

.loggedoutPortfolio {
  color: white;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 16px;
  left: -20px;
}

.loggedoutPortfolio:hover {
  border-bottom: 2px solid white;
  padding-bottom: 30px;
  margin-bottom: -22px;
}


.loggedoutPortfolioLi {
  left: -245px !important;
  top: 25px !important;
}

.navnonHomepage {
  position: fixed;
  background: white;
  border-bottom: 1px solid rgb(207, 207, 207);
  z-index: 5;
}

.navnonHomepage >  button {
  color: rgb(90,90,90) !important;
}

.navnonHomepage > button:hover {
  border-bottom: 2px solid rgb(90,90,90);
}


.nonHomepagePorfolio > div > span{
 color: black !important;
}

.loggedinPortfolioNonHomepage {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 17px;
  left: -40px;
}

.loggedinPortfolioNonHomepage:hover {
  border-bottom: 2px solid;
  padding-bottom: 30px;
  margin-bottom: -22px;
}

.loggedoutPortfolioNonHomepage {
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 15px;
  left: -10px
}

.loggedoutPortfolioNonHomepage:hover {
  border-bottom: 2px solid;
  padding-bottom: 30px;
  margin-bottom: -22px;
}

.loggedoutPortfolioNonHomepageLi {
  border: 1px solid rgb(207, 207, 207);
  position: relative;
  left: -245px;
  top: 25px
}

.loggedinPortfolioNonHomepageLi {
  border: 1px solid rgb(207, 207, 207);
  position: relative;
  left: -245px;
  top: 25px
}

.filterNav {
  display: flex;
  position: fixed;
  background: white;
  border-top: 1px solid rgb(207, 207, 207);
  border-bottom: 1px solid rgb(207, 207, 207);
  z-index: 2;
  width: 100%;
  height: 50px;
  margin-top: 90px;
  align-items: center;
  justify-content: flex-start;
  color: gray;
}


.filterNav button {
 cursor: pointer;
 margin-left: 10px;
 border-radius: 20px;
 border: 1px solid rgb(207, 207, 207);
 font-size: 14px;
 font-weight: 400;
 padding: 10px;
 padding-left: 15px;
 padding-right: 15px;
}

.filterNav button:first-child {
  margin-left: 40px;
}

.showMapButton {
  margin-left: auto !important;
  vertical-align: center;
  margin-right: 30px !important;
}

.toggleMap{
  font-size: 30px;
  display: inline;
  margin-left: 5px;
  position: relative;
  top: 5px;
  cursor: pointer;
}



