.greeting-modal {
  display: flex;
  width: 100%;
  align-items: center;
  background: transparent;
}

.greeting-modal button {
  display: inline-block;
  margin: 10px;
  margin-top: 18px;
  color: white;
  font-weight: 500;
  font-size: 14px;
  margin-right: 13px;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
}

.greeting-modal > button:hover {
  border-bottom: 2px solid white;
  padding-bottom: 30px;
  margin-bottom: -22px;
}

.greeting-modal button:last-child {
  // margin-right: 10px;
}

.welcome {
  display: flex;
  margin: 15px; 
  margin-left: 15px;
  color: white;
  text-align: left;
  margin-right: auto;
}


.loggedIn {
  display: flex;
  width: 100%;
  align-items: center;
  background: transparent;
}


#logoImage {
  height: 50px;
  width: 50px;
  margin-top: 10px;
};

.navbarDiv {
  height: 40px;
  width: 40px;
  margin-right: 20px;
  cursor: pointer;
}

.navbarDiv img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.navbarDiv ul{
  display: flex;
  position: relative;
  left: -260px;
  height: auto;
  width: 285px;
  margin-top: 20px;
  flex-direction: column;
  background: white;
  // padding-left: 12px;
  // padding-right: 12px;
  // padding-top: 5px;
}

.navbarDiv ul li {
  height: 35px;
  color: rgb(118,118,118);
  font-size: 14px;
  font-weight: 500;
  // margin-top: 3px;
  padding-top: 14px;
  background: white;
  cursor: pointer;
  text-indent: 10px;
}

.navbarDiv ul li:hover {
  #borderbot{
    border-bottom: 1px solid rgb(168, 168, 168);
  }
}

.navbarDiv ul li:active {
  background: rgb(168, 168, 168);
}

#borderbot{
  margin-top: 15px;
  margin-left: 10px;
  width: 90%;
  border-bottom: 1px solid rgb(242,242,242);
}

.loggedinPortfolio {
  color: white;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 17px;
  left: -40px;
}

.loggedinPortfolio:hover {
  border-bottom: 2px solid white;
  padding-bottom: 30px;
  margin-bottom: -22px;
}


.loggedinPortfolioLi {
  left: -265px !important;
  top: 25px !important;
}

.loggedoutPortfolio {
  color: white;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 16px;
  left: -20px;
}

.loggedoutPortfolio:hover {
  border-bottom: 2px solid white;
  padding-bottom: 30px;
  margin-bottom: -22px;
}


.loggedoutPortfolioLi {
  left: -245px !important;
  top: 25px !important;
}

