.splash {
  // height: 1000px;
  // width: 1000px;
  // fix this height and width
  // background-position: center;
}

#background {
  position: absolute;
  top: -100px;
  height: 900px;
  width: 100%;
  z-index: -1;
}